.navbar{
  /* background-color: #28a745; */
  background-color: grey;
}
.navbar-right{
  display: inline-flex;
  justify-content: flex-end;
}
#usuarioMenu{
  color:white;
}
.row{
  height: 100%;
}
aside{
  background-color: rgb(237, 237, 237);
  padding-right:0px !important;
  height: auto;
  margin-bottom: -5%;
  -webkit-box-shadow: -3px -9px 24px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: -3px -9px 24px 3px rgba(0,0,0,0.3);
  box-shadow: -3px -9px 24px 3px rgba(0,0,0,0.3);
}
aside ul{
  list-style-type: none;
  padding: 0;
}
aside a:link{
  text-decoration: none;
}
aside li:hover{
  background-color: lightgrey;
  border-radius: 30px;
}
aside li{
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px #0C3516 solid;
  color: black;
}
i{
  padding-left: 20px;
  width: 100px;
}
#data{
  z-index: -1;
  /* position: absolute; */
  width: 200px;
  opacity: 0.7;
  font-size: 59pt;
  display: flex;
  align-self: flex-start;
}
.boton{
	width: auto;
	height: 110px;
	border-radius: 10px;
	padding: 20px;
  padding-right: 30px;
	display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.boton-users{
  background-color: rgba(29, 146, 207, 0.5);
}
.boton-users:hover{
  color: white;
  background-color: #1D93D1;
  opacity: 0.85;
}
.boton-wc{
  background-color: rgba(72, 211, 96, 0.7);
}
.boton-comments{
  background-color: rgba(251, 74, 74, 0.7);
}
.boton i{
	font-size: 50px;
}

.botones{
	text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .botones {
    text-align: center;
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.num{
  font-size: 20pt;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#form-year{
  width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
