body{
  height: 100%;
}

#container{
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#formWC{
  background-color: white;
}
p{
  display: flex;
  justify-content: space-between;
}
label{
  width: 120px;
  margin-left: 10px;
}
input{
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
}
#mapid{
  height: 400px;
  width: 100%;
  margin-bottom: 10px;
}
form{
  margin-bottom: 30px;
}
.btn{
  width: 100%;
}
