.masthead{
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/FondoLogin.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.column{
  border-radius: 10px;
  border-color: 1px solid lightgrey;
  elevation: 3;
  padding: 5%;
}

@media (min-width: 300px){
  .img-fluid{
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
  }
}
@media (min-width: 700px){
  .img-fluid{
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
  }
}
@media (min-width: 900px){
  .img-fluid{
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
  }
}

.img{
  margin-top: -100px;
}

.form-control{
  width: 70%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 30px;
}

input[type=submit]{
  margin-top: 50px;
}

a{
  color: white;
}

#verify{
  color: #3366BB;
  text-decoration: underline;
}
