.navbar{
  background-color: rgb(40, 167, 69);
  font-family: sans-serif;
  position: static;
}
.navbar-brand{
  width: 50%;
}
.nav-link{
  color: white
}
#icon{
  width: 30px;
  height: 30px;
}

#navbarDropdown{
  color: white;
}

.title{
  color: rgb(40, 167, 69);
  font-size: 24pt;
  font-weight: bold;
  font-family: Sans-serif;
  text-shadow: 1px 1px grey;
}

form{
  font-family: sans-serif;
}

.col-md-8{
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

#createWC{
  color: white;
}

@media (min-width: 300px){
  #formWC{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
  }
}
@media (min-width: 700px){
  #formWC{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    margin: 5px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 2px #3c3c3b;
  }
}
@media (min-width: 900px){
  #formWC{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    margin: 5px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 2px #3c3c3b;
  }
}
#imgWC{
  object-fit: contain;
}
