.navbar{
  background-color: rgb(40, 167, 69);
  font-family: sans-serif;
}

#icon{
  width: 6%;
  height: 6%;
}

#navbarDropdown{
  color: white;
}

.title{
  color: rgb(40, 167, 69);
  font-size: 24pt;
  font-weight: bold;
  font-family: Sans-serif;
  text-shadow: 1px 1px grey;
}

form{
  font-family: sans-serif;
}

.col-md-8{
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

#mapid{
  min-height: 700px;
  max-height: 100%;
  width: 100%;
}

#geolocate{
  position:absolute;
  top:180px;
  left:10px;
  border-radius: 5px;
  z-index: 4000;

}
